@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f1f2f3;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 9px; /* Width of the scroll bar */
  background-color: #f1f1f1; /* Background color of the track */
}

body::-webkit-scrollbar-thumb {
  background-color: #304644; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

body::-webkit-scrollbar-track {
  background-color: #d1d1d1; /* Color of the track */
}

.home_page :where(.css-dev-only-do-not-override-byeoj0).ant-btn.ant-btn-round.ant-btn-lg {
  box-shadow: none;
}

@media (max-width: 1280px) {
  .d_none{
      display: none;
  }
  body {
    overflow-y: scroll;
  }
  
}