@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f1f2f3;
  overflow: hidden;
}

.css-xz6gs5-MuiPaper-root-MuiAppBar-root {
  border-bottom: 1px solid #283c3a1c;
}

:where(.css-dev-only-do-not-override-byeoj0).ant-btn.ant-btn-round.ant-btn-lg {
  background-color: #384e4c10 !important;
  color: #7a9595 !important;
  border: 1px solid #384e4c3b !important;
  box-shadow: none;
  width: 150px;
}