.link {
    color: #304644;
    margin-left: 20px;
    font-weight: 600;
    padding: 7px 13px;
    transition: all 0.25s ease-in-out;
}

.link:hover, .active {
    background-color: #7a9595;
    color: white;
}